<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SB Electrical &amp; Security Solutions</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="c-masthead">
            <div class="c-masthead__container">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/"><img class="c-logo" src="/svg/build/sb.svg" alt="SB Electrical and Security Solutions"></a>
                <a href="/services">Services</a>
                <a href="/contact">Contact</a>
            </div>
        </header>
        {{ content }}
        <script src="/js/main.js"></script>
    </body>
</html>
